https://kaggle-kr.tistory.com/17 
  
https://www.kaggle.com/daehungwak/guide-kor-dg
  
링크로 공부중

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5) 
# 이 두줄은 본 필자가 항상 쓰는 방법입니다. matplotlib 의 기본 scheme 말고 seaborn scheme 을 세팅하고, 
#일일이 graph 의 font size 를 지정할 필요 없이 seaborn 의 font_scale 을 사용하면 편합니다.
import missingno as msno #결측치 처리용

#ignore warnings
import warnings
warnings.filterwarnings('ignore')
# 워닝 메세지를 생략해 줍니다. 차후 버전관리를 위해 필요한 정보라고 생각하시면 주석처리 하시면 됩니다.

%matplotlib inline

ModuleNotFoundError: No module named 'missingno'

### 데이터 분석 프로세스

1. 데이터셋 확인 - 데이터셋에 null data가 존재하는지 확인하고, 향후 수정합니다.
  
2. 탐색적 데이터 분석(exploratory data analysis) - 여러 feature 들을 개별적으로 분석하고, feature 들 간의 상관관계를 확인합니다. 여러 시각화 툴을 사용하여 insight를 얻습니다.
  
3. feature engineering - 분석 모델을 세우기에 앞서, 모델의 성능을 높일 수 있도록 feature 들을 engineering 합니다. one-hot encoding, class로 나누기, 구간으로 나누기, 텍스트 데이터 처리 등을 합니다.
  1. [one-hot encoding](https://brunch.co.kr/@sokoban/8) : one-out-of-N encoding이라고도 하며, 가변수라고도 함. 범주형 데이터(a, b, 남자, 서울, 1반, 2반의 1, 2 등 카테고리로 나뉜 것)를 이진 벡터로 표시하는 것을 말함. (즉, 0과 1로 표시)
  2. class로 나누기 : 카테고리 값 나누기
  3. 구간으로 나누기 : 일정한 간격으로 나누기
  
4. model 만들기 - sklearn 을 사용해 모델을 만듭니다.
  
5. 모델 학습 및 예측 - trainset 을 가지고 모델을 학습시킨 후, testset 을 가지고 prediction 합니다.
  
6. 모델 평가 - 예측 성능이 원하는 수준인지 판단합니다. 학습된 모델이 어떤 것을 학습하였는 지 확인해봅니다.


### 1. Dataset 확인

In [4]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S